@import "variables2";
@import "main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro",sans-serif;
};

body{
  width: 1920px;
  color: $colorHeader;
  background-color: $mainBackground;

  @include indents;

  .header {
    color: $colorHeader;
    background-image: url("../img/m-h-night.jpg");
    border-bottom-right-radius: 50%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    @include landing-logo;
    .header_heading {
      font-size: 80px;
      font-weight: bold;
      padding-right: 800px;
      font-family: $sansPro;
      position: relative;
      z-index: 1;
    }
    .header_heading::after {
      background-color: red;
    }

    @include header_text;
    .header_text {
      font-family: 'Hind', sans-serif;
    }
    @include header_button;
    .header_button {
      background-color: #E3AC00;
    }
  }

  @include section;
  .section {
    @include section_text;
    @include section_card_wrap;
    @include section_card;
    .section_card_text{
      color: #D1D1D1;
    }

    .section_card {
      background-color: #3B3F50;
    }
    .section_card_heading::after {
      background-color: red;
    }
    .section_text::after {
      display: block;
      content: '';
      width: 220px;
      height: 27px;
      background-color: red;
      position: absolute;
      top: 34px;
      right: 530px;
      z-index: -1;
    }

    @include section_banner;

    .header_button {
      width: 175px;
      border: none;
      font-size: large;
      font-weight: bold;
      color: white;
      height: 60px;
      text-align: center;
      margin-bottom: 220px;
      border-radius: 3px;
    }

    .section_banner_button {
      @extend .header_button;
      margin-bottom: 0;
      background-color: #E3AC00;
    }
  }
  .footer {
    background-color: #3B3F50;
    padding-top: 100px;
    @include footer;
    @include landing-logo;
  }
}
